
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html {
    font-size: 62.5%;
}

body{
    background-color: black;
    background-image: url(./images/tinified/background.jpeg);
    background-repeat: no-repeat;  
    background-size: cover;                                     
}
header {
    height: 1rem;

}

nav {
    position: fixed;
    height: 3.5rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: lightsteelblue;
  }
  nav img {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }
.title {
    width: 56rem;
    height: 14rem;
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
}
.subtitle {
    width: 50rem;
    height: 10.5rem;
    padding: 2rem;
    margin-right: 33rem;
}
.home-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: .6rem;
    margin-right: 90%;
    margin-left: 1rem;
}
.container {
    width: 80%;
    margin: 0 auto;
    display: inline-block;
    gap: 1rem;
}

.logos-escuelas {
    width: 20%;
    margin: 2.2%;
    position: relative;
    cursor: pointer;
    float: left;
    -webkit-transition:  0.3s ease-out;
}
 
.logos-escuelas:hover {
    margin-top: 2px;
}

button[type=button] { 
    font-size: 1.3rem;
    cursor:pointer;
    padding: .4rem;
    width: 28%;
    margin-bottom: 2rem;
    border-width: 2px;
    border-color: lightsteelblue;
    border-radius: 1.3rem;
    margin: 9rem 15% 7rem;
 }
 button[type=button]:hover {
    background-color: lightslategrey;
    color: #f6f6f6;
 }
#cargarAPI:hover {
    background-color: lightslategray;
    color: #f6f6f6;
}


/* @media only screen and (max-width: 788px) { 
	body { 
		background-image: url(./images/tinified/background-mobile.jpeg); 
	}   
    .title {
        width: 25rem;
        height: 9rem;
    }
    .logos-escuelas {
        margin: 4rem;
    }
   
   @media only screen and (min-width: 789px) { 
	body { 
		background-image: url(./images/tinified/background.jpeg); 
	}   
}
} */

/* @media (max-width: 480px) { 
	body { 
		background-image: url(./images/tinified/background-mobile.jpeg); 
	}   
}
@media (min-width: 768px) { 
	body { 
		background-image: url(./images/tinified/background.jpeg); 
	}   
} 
@media (min-width: 1024px) { 
	body { 
		background-image: url(./images/tinified/background.jpeg); 
	}   
}*/



