* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("studio-ghibli-history-7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Black Han Sans', sans-serif;
    background-attachment: fixed;
    margin: 0 auto;
}

.pantalla {
    object-fit: cover;
}

header {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 0px;
    row-gap: 15rem;
    margin: 30px 0;
    max-height: 130px;
    align-items: center;
    object-fit: contain;
    padding: 0px;
}

.logo {
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    object-fit: contain;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-position: center;
    font-size: 50px;
    margin: 70px 600px;
    padding: 250px 70px 200px 70px;
}

#boton {
    border-radius: 50px;
    font-family: 'Helvetica', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    background-color: rgb(208, 230, 199);
    font-size: 20px;
    padding: 0.5em 1em;
    border: 1px solid #151618;
    margin: 70px 900px;
    width: 15%;
}

#boton:hover{
    background-color: green;
}

.funciones {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    max-height: 150px;
    align-items: center;
    object-fit: contain;
}

.input {
    margin: 0 auto;
}

.header-peliculas {
    font-size: 50px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#mejores-peliculas {
    font-size: 20px;
    padding: 0.5em 1em;
    border: 1px solid #eebef0;
    border-radius: 50px;
    max-height: 60px;
    margin: auto;
    background-color: lightpink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 1rem;
    row-gap: 1rem;
    gap: 30px;
    width: fit-content;
    justify-content: center;
    padding: 2%;
}

/*.card:hover{
    background-color: gray;
    transform: scale(1.2)
}*/

/*.cards:hover{
    background-image: url("vecino-totoro.jpg");
}*/
.imgDatos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;

}

.card {
    display: flex;
    flex-direction: column;
    border: 8px solid pink;
    border-radius: 10%;
    padding: 30px;
    background-color: #FFFFFF;
    width: 380px;
}

#poster {
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 185px;
    border-radius: 5%;
}

.parrafos {
    display: flex;
    flex-direction: column;
    line-height: 0px;
    margin: 0 auto;
    font-size: 15px;
}

.parrafo {
    padding: 4px;
    margin: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

#description {
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
}

.modalContainer{
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.modal {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
.show {
    pointer-events: auto;
    opacity: 1;
  }
