*{
    box-sizing: border-box
}

body{
    margin: 0;
    background: rgb(242, 240, 245);
    min-width: 100%; 
    min-height: 100%;    
    
}
 .paginaPrincipal{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

 }

.Botones {
   display: flex;
   flex-direction: column;
   width: max-content;
   position: absolute;
   top: 60% ;
}

.btn {
     margin: 3%;
    width:160px ;
    font-size: 14px;
    word-wrap: break-word;
    font-weight: bolder;
    background-color: #03071e;
    opacity: 0.7;
    color: white;
    border-radius: 5px;
    padding: 7px 20px;
    text-transform: uppercase;
   /* place-content: fixed;*/ 
    cursor: pointer;
 }

 .btn:hover{
    background: rgb(188, 214, 41); ;
  }


 footer {
   
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #0e153c;
    opacity: 0.7;
 }

 .redesSociales{
   margin: auto;
   
 }

 .redes{
   
    width: 40px;
    height:40px;
    margin: 7px;

 }
.cajaAutores{
    margin:auto ;
    width: 30%;
    height:40px;
     
}
 .autores {
    position: center;
    text-align: center;
    color: white;
    top: 90%;
    font-weight: 100;
    font-size: 13px;
    right: 5%;
 }

/* Estilos pagina pokemones*/ 
.paginaPokemones{
   background-color: #b8bbc8;
   display: flex;
   flex-direction: column;
    width: 100%;
    height: 100%;
    display:none;
}

.tarjetaPokemones{
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 50%;
    border-radius: 10%;
    background-image:url(img/fondopoke.jpg);
} 

.encabezadoTarjeta{
    
    background-color: bisque;
}

.aboutP, .nombreP, .textoh3{
    margin:0;
} 

.imgPokemon{
   width: 70px;
   height: 70px;
}

.nombreP{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: blue;
}

.descripcionTarjeta{
  
    background-color: azure;
}

.botonesTarjeta{
    
    background-color: coral;
}

.filtrosBusqueda {
    display: none;
}

/* Estilos pagina Estadisticas*/ 

.paginaEstadistica{
    display: none;
}
