*,
::after,
::before {
  text-align: center;
  box-sizing: border-box;
}

/*
===============
Global Styles
===============
*/
* {
  margin: 0;
  /*espacios entre mi contenedor y el padre (hacia afuera). Solo puede haber un contenedor padre(listado-pokemones) */
  padding: 0;
  /*espacios entre mi contenedor y los hijos (hacia adentro). Pueden haber varios hijos(pokemon-item)*/
  box-sizing: border-box;
}


header {
  width: 100%;
  height: auto;
  margin: 0 0 2rem 0;
  align-items: center;
  /* ya que son imagenes usamos align-item*/

}

.logo {
  max-width: 90%;
  height: auto;
  object-fit: fixed;
  /*adapta la imagen a mi contenedor*/
}

body {
  font-family: 'Poppins', sans-serif;
  color: #5A6170;
  line-height: 1;
  font-size: 0.75rem;
  text-align: center;
  margin: 0.5rem;
  padding: 1.5rem;
  background-color: #dadfea;
  background-position: center;
}


#container-pokemones {
  text-align: center;
}

#listado-pokemones {
  display: flex;
  /*en vez de grid ya que no es responsive*/
  order: 1;
  flex-direction: row;
  /*se acomoda en filas */
  flex-wrap: wrap;
  /*ajustará el número de elementos en las filas de acuerdo al tamaño del dispositivo*/
  justify-content: space-between;
  /*justifique a los lados y ajusta el tamaño entre tarjetas*/
  align-items: center;
  /*centra las tarjetas*/
  align-content: center;
  /*centra el contenido de las tarjetas*/
  gap: 10px;
  /*el gap separa los hijos (1 rem=16px)*/
}

.pokemon-item {
  background-color: white;
  padding: .5rem;
  text-align: center;
  position: relative;
  /*absolute fija en un solo espacio y con relative se puede ajustar con las medias querys */
  border-radius: 10%;
}

.search-Pokemon {
  width: 220px;
  height: auto;
  text-align: left;
  font-family: 'Poppins light', sans-serif;
  font-size: 1rem;
  /*el valor de rem por defecto es de 16px pero si en scale de la etiqueta meta no tiene el valor de 1 entonces se ajusta*/
  margin: 0;
  /*el body ya tiene un margen*/
  border-radius: 15px;
  padding: 0.2rem .1rem;
  /*espacio entre el div del imput y el del select-tipos*/
  /*estoy poniendo 0.2 de forma horizontal y 0.1 vertical*/
}

.search-Pokemon:focus {
  border: 3px solid #F8A4D8;
  outline: none;
  /*para aplicar el focus*/
}

#select-tipos {
  width: 220px;
  height: auto;
  text-align: left;
  font-family: 'Poppins light', sans-serif;
  font-size: 1rem;
  margin: 0 .5rem 2rem .5rem;
  padding: .3rem;
  border-radius: 15px;
}

#select-tipos:focus {
  border: 3px solid #F8A4D8;
  outline: none;
}


.modal {
  display: none;
  /* Hidden by default */
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  top: 0;
  left: 0;
  position: fixed;
  padding: 20px;
  justify-content: center;
  align-items: center;
  z-index: 2;
  /*posicionarlo hacia el frente, por encima de todos los elementos*/

}

.modal-container {
  background: linear-gradient(294deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  width: 90%;
  height: 60%;
  font-family: 'Poppins light', sans-serif;
  /*(sans-serif=sin) serifaslos medios impresos necesitan serifas(las puntitas de las letras que las hacen mas elegantes y que dan la impresion de estar conectadas)*/
  font-size: .75rem;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.modal-container .modal-pokemon h3 {
  font-weight: bold !important;
  text-align: center !important;
  font-family: 'Times New Roman' !important;
  font-size: xx-large;
  /* font-style: italic !important;
  font-weight: 700 !important;
  font-size: 2rem; */
}

.close-modal {
  background: red;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.3 rem;
  border-radius: 50%;
  position: absolute;
  /*absolute*/
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.container-grafico {
  width: 100%;
  /* porcentaje del contenedor padre */
  height: 100%;
  /* porcentaje de la pantalla*/
  margin: 4rem auto;
  padding: 4rem !important;
}

.container-grafico canvas {
  width: 100% !important;
  /* porcentaje del contenedor padre */
  height: 100% !important;
  /* porcentaje de la pantalla*/
}

#botonGrafica {
  padding: 20px;
  font-weight: bold;
  font-size: 10px;
  color: black;
  background: #F8A4D8;
  border-radius: 50px;
  border: 3px solid #6c63ff;
  transition: all 0.9s;
  text-align: center;
  width: 10%;
  height: 2%;
  box-shadow: -5px 1px 3px 0px rgb(244, 0, 248);
}
#information-grafic{
  width:100%;
  height: 100%;
}

@media only screen and (max-width:640px) {
  .logo {
    max-width: 100%;
  }

  body {
    margin: 2rem;
    padding: 3rem;
  }

  .modal-container {
    padding: 30px;
    font-size: .75rem;
  }
}

@media only screen and (max-width:1080px) and (min-width:640px) {
  .logo {
    max-width: 70%;
  }

  #listado-pokemones {
    padding: 0 5rem 5rem 5rem;
    /*para ajustar el margen de los lados y de abajo*/
  }

  .modal-container {
    width: 65%;
    font-size: .8rem;
  }
}

@media only screen and (max-width:1920px) and (min-width:1080px) {
  .logo {
    max-width: 60%;
    gap: 50px;
  }

  #listado-pokemones {
    padding: 0 6.5rem 6.5rem 6.5rem;
    /*para ajustar el margen de los lados y de abajo*/
  }

  .modal-container {
    max-width: 65%;
    height:70% ;
    font-size: .8rem;
  }
}

@media only screen and (min-width:1920px) {
  .logo {
    max-width: 55%;
    gap: 50px;
  }

  #listado-pokemones {
    padding: 0 6.5rem 6.5rem 6.5rem;
    /*para ajustar el margen de los lados y de abajo*/
  }

  .modal-container {
    max-width: 50%;
    font-size: .9rem;
  }
}
