*,
::after,
::before {
  text-align: center;
  box-sizing: border-box;
}

/*
===============
Global Styles
===============
*/
* {
  margin: 0;
  /*espacios entre mi contenedor y el padre (hacia afuera). Solo puede haber un contenedor padre(listado-pokemones) */
  padding: 0;
  /*espacios entre mi contenedor y los hijos (hacia adentro). Pueden haber varios hijos(pokemon-item)*/
  box-sizing: border-box;
}


header {

  width: 100%;
  height: auto;
  margin: 2rem !important;
  /*con esto le digo que es mas importante que las otras(en este caso margin)*/
  text-align: center;

}

header .logo {
  width: 40%;
  /*lo modifiqué de 80 a 40% porque estaba muy grande*/
  height: auto;
  object-fit: fixed;
  /*adapta la imagen a mi contenedor*/
}


body {

  font-family: 'Poppins', sans-serif;
  color: #5A6170;
  line-height: 1.5;
  font-size: 0.875rem;

  background-color: #dadfea;
  /* background-image: url('img/fondo.png');*/
  background-position: center center;
  /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
  background-repeat: no-repeat;
  /* Para que la imagen de fondo no se repita */
  background-attachment: fixed;
  /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  background-size: cover;
  /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador(RESPONSIVE) */

}


#container-pokemones {
  text-align: center;
}


.nombrePokemon {
  font-size: 40px;
}


.search-Pokemon {
  border: 4px solid cornflowerblue;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  /*estoy poniendo 1.5 de forma horizontal y 0.5 vertical*/
  text-align: left;
  font-family: 'Poppins light', sans-serif;

}

.search-Pokemon:focus {
  border: 3px solid #F8A4D8;

}

#select-tipos {
  text-align: left;
  font-family: 'Poppins light', sans-serif;
}


#listado-pokemones {
  /* background-color: aquamarine;*/
  padding: 2rem;
  /*espaciado entre el padre y los hijos*/
  display: grid;
  /*cuadrícula*/
  grid-template-columns: 1fr 1fr 1fr;
  /*para separar en 3 columnas al listado*/
  gap: 2rem;
  /*el gap separa los hijos (1 rem=16px)*/
}

.pokemon-item {
  background-color: white;
  padding: 2rem;
  text-align: center;
  border-radius: 10%;
  border: #F8A4D8;
}

.modal {
  display: none;
  /* Hidden by default */
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  /* Full width */
  height: 100vh;
  /* Full height */
  top: 0;
  left: 0;
  position: fixed;
  padding: 20px;
  justify-content: center;
  align-items: center;
  z-index: 100;

}

.modal-container {
  /* Modal Content */
  /* background-image: url('img/fondo.png');*/
  background: rgb(238, 174, 202);
  background: linear-gradient(294deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  /*background: #fff;*/
  max-height: 300px;
  max-height: 600px;
  width: 90%;
  height: 95%;
  padding: 20px;
  border-radius: 15px;
  position: relative;

  /*display: flex; */
  align-items: center;
  /* justify-content: center; */

  /* era para seprar en columnas la modal, pero ya no lo usaremos
  flex-direction: column;
  display: grid; /*cuadrícula
  grid-template-columns: 1fr 1fr; /*para separar en 2 columnas al listado
*/
}

.modal-container .modal-pokemon h3 {

  font-weight: bold !important;
  text-align: center !important;
  font-family: 'Times New Roman' !important;
  font-size: xx-large;
  /* font-style: italic !important;
  font-weight: 700 !important;
  font-size: 2rem; */


}

.close-modal {
  background: red;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.3 rem;
  border-radius: 50%;
  position: fixed;
  /*absolute*/
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.container-grafico {
  width: 50%;
  /* porcentaje del contenedor padre */
  height: 40vh;
  /* porcentaje de la pantalla*/
  margin: 4rem auto;
}

.container-grafico canvas {
  width: 100% !important;
  /* porcentaje del contenedor padre */
  height: 100% !important;
  /* porcentaje de la pantalla*/
}

#botonGrafica{
  padding:20px;
  font-weight: bold;
  font-size: 10px;
  color:black;
  background: #F8A4D8;
  border-radius:50px;
  border: 3px solid #6c63ff;
  transition: all 0.9s;
  text-align: center;
  width:10%;
  height:2%;
  box-shadow: -5px 1px 3px 0px rgb(244, 0, 248);
}