
@import url('https://fonts.cdnfonts.com/css/harry-potter');

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html {
    font-size: 62.5%;
}

body{
    background-color: black;
    background-image: url(./images/tinified/background-mobile.jpeg);
    font-family: 'Harry Potter', sans-serif;   
    text-align: center; 
    background-repeat: no-repeat;  
    background-size: cover;     
    
}
/* @media only screen and (min-width: 700px) {
    body {
    background-image: url(./images/tinified/background.jpeg)
 }  */
 .logos-escuelas {
    width: 36%;
    margin: 1rem;
    position: relative;
    cursor: pointer;
}

.title {
    width: 31rem;
    height: 10rem;
    padding: 2rem;
    text-align: center;
    margin-top: 1rem;
}
.subtitulo {
    width: 22rem;
    height: 8rem;
    padding: 2rem;
    text-align: center;
}
h2 {
    font-family: 'Courier New', Courier, monospace;    
    text-align: left;
    font-size: 2rem;
    margin-left: 2rem;
}
.container {
    width: 80%;
    margin: 0 auto;
    display: inline-block;
    gap: 1rem;
}


button[type=button] { 
    font-size: 12px;
    cursor:pointer;
    padding: .4rem;
    width: 48%;
    margin-bottom: 2rem;
    border-width: 2px;
    border-color: lightsteelblue;
    border-radius: 1.3rem;
    margin: 4rem 10% 4rem;
 }
 button[type=button]:hover {
    background-color: #000;
    color: #f6f6f6;
 }
#cargarAPI:hover {
    background-color: #000;
    color: #f6f6f6;
}





/* @media only screen and (max-width: 788px) { 
	body { 
		background-image: url(./images/tinified/background-mobile.jpeg); 
	}   
    .title {
        width: 25rem;
        height: 9rem;
    }
    .logos-escuelas {
        margin: 4rem;
    }
   
   @media only screen and (min-width: 789px) { 
	body { 
		background-image: url(./images/tinified/background.jpeg); 
	}   
}

} */

/* @media (max-width: 480px) { 
	body { 
		background-image: url(./images/tinified/background-mobile.jpeg); 
	}   
}
@media (min-width: 768px) { 
	body { 
		background-image: url(./images/tinified/background.jpeg); 
	}   
} 
@media (min-width: 1024px) { 
	body { 
		background-image: url(./images/tinified/background.jpeg); 
	}   
}*/




