*{
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(125deg, #3d2a52, #764082, #a85d84, #8d4887, #58B19F);
  animation: bganimation 15s;
  background-size: 400%;
  margin: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 30px;
  background-repeat:repeat-y;
  
}

@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
} 
#home{
  width: 100%;
  height: 100%;
}
#barra {
  display: flex;
  flex-direction: row;
  background-color: rgba(11, 11, 12, 0.555);
  margin-bottom: 0;
  width: 100%;
  min-width: 320px;

}

#logo {

  border-radius: 150px;
  left: 45%;
  margin-top: 25px;
  margin-left: 20px;
  width: auto;

}

h1 {
  font-family: 'Island Moments', cursive;
  font-size:700% ;
  left: 450px;
  right: 60px;
  bottom: 20px;
  top: 50px;
  margin-top: 25px;
  position: relative;
}

.select {
  position: relative;
  display: flex;
  align-self: center;
  left: 450px;
  top: 100px;
  right: 20px;
  font-weight: bold;

}

hr {
  margin: 0;
  height: 5px;
  background-color: black;
  width: 100%;

}

#contenedor {
  display: flex;
  justify-content: flex-start;

}

#search {
  display: flex;
  position: relative;
  right: 200px;
  top: 220px;
  width: 310%;
  height: 30px;
  border-radius: 40px;
  border: 3px solid rgba(102, 95, 95, 0.629);
  border-color: black;
  font-family: 'Montserrat', sans-serif;

}

#lupa {
  display: flex;
  position: relative;
  left: 320px;
  top: 190px;
  width: 25px;

}

select {
  height: 40px;
  border-radius: 20px;
  width: auto;
}

.filterSelect {
  display: flex;
  
  flex-direction: row;
  justify-content: space-around;

}

#glasses {
  align-self: baseline;
  left: 10px;
}

#buho{
  width:5%;
  display: flex;
  position: relative;
  left: 10px;
  
}

#box {
  display: flex;
  justify-content: center;
}

#autora {
  background-color: rgba(139, 108, 212, 0.123);
  display: flex;
  flex-direction: row;
  width: 80%;
  box-shadow: 5px 8px 50px rgba(0, 0, 0, 0.5);
  position: relative;
}

#hibrido {
  position: absolute;
  top: 60%;
  left: 80%;
}

#foto {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 10px 10px 20px #604e7e;
}

.subtitles {
  font-family: 'Calligraffitti', cursive;
  display: flex;
  position: relative;
  bottom: 70px;
  font-size: 65px;
  margin-left: 15%;
  margin-right: 30px;

}

#summary {
  margin-right: 0;
  display: flex;
  justify-content: space-between;
}

.col {
  display: flex;
  justify-content: space-between;
}

p {
  display: flex;
  font-size: 30px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  margin-right: 300px;
}

#infoAboutHouses {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  border-radius: 40%;
  border-radius: 10px;
  text-align: center;
  margin-right: 10%;
  align-items: center;
  background-color: #b2c033d8;
  margin-bottom: 10%;
}

h3 {
  display: flex;
  align-self: center;
  font-size: 80px;
  font-family: 'Calligraffitti', cursive;
  text-shadow: black;
  margin-left: 43%;
  z-index: 1;

}

#houses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5px;
  z-index: 1;
  margin-bottom: 10%;
}

.card {
  width: 200px;
  height: 230px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 30px 20px;
  background-position: center;
  background-size: cover;
  transition: all;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 5px 8px 50px rgba(0, 0, 0, 0.5);
}

.card1 {
  background-image: url(imag/casa-gryffindor.jpg);
  align-items: flex-start;

}

.card2 {
  background-image: url(imag/casa-hufflepuff.jpg);
  align-items: flex-start;

}

.card3 {
  background-image: url(imag/casa-ravenclaw.jpg);
  align-items: flex-end;
}

.card4 {
  background-image: url(imag/casa-slytherin.jpg);
  align-items: flex-end;
}

#paragraph {
  font-family: 'Caveat', cursive;
  font-size: 180%;
  display: flex;
  align-items: right;
  align-self: center;
}

.centrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#arrow {
  display: flex;
  justify-content: center;
  bottom: 20px;
}

.tapiz {
  background-image: url(imag/background.jpg);
  width: 80%;
  border-radius: 20px;
  justify-content: center;
}


#cardConteiner {
  
  margin: 50px;
}

.data {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  flex-direction: row;
  margin-right: 20px;
  margin-left: 8px;

}

.caja {
  background-color: rgba(139, 108, 212, 0.123);
  box-shadow: 5px 8px 50px rgba(0, 0, 0, 0.5);
  max-width: 200px;
  min-height: 200px;
  margin: 20px;
}

.test {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;


}

#template {
  display: flex;
  flex-direction: column;

}

.imagen {
  width: 100%;
  height: 300px;
  border-radius: 8px 8px 0px 0px;
  align-items: flex-start;
  transform: translateY(-10px);
  margin-top: 50px;
}

.btnPrincipal {
  display: flex;
  position: relative;
  top: 100px;
  left: 200px;
  width: 16%;
  height: 1%;
  color: #fff;
  background: #641e72;
  border-radius: 40px;
  border: 3px solid #18031a;
  cursor: pointer;
  line-height: 1%;
  text-align: center;
  right: 50px;
  margin-bottom: 25px;
  padding: 1.5% 4%;
  font-size: 30px;
  justify-content: center;

}

.imagenB {
  width: 100%;
  height: 300px;
  border-radius: 8px 8px 0px 0px;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;

}

@media only screen and (min-width:320px) and (max-width:768px) {
 body{
  margin-bottom: 5px;
  background-size: 100%;
 }
 #barra{
  display:flexbox;
  flex-wrap: wrap;
  margin: 0;
  height: 100px;
 }
  h1{

    font-size: 28px;
    margin-right: 0;
    margin-top: 5px;
    margin-left: 0px;
    left:10px;
    top: 26px;
    
  }

  #logo{
    width: auto;
    height: 55px;
    margin-top: 15px;
    margin-left:20px;
  }
  
  .select{
    display: flex;
    position: relative;
    font-size: 7px;
    top: 77px;

  }
  .filterSelect{
    display: flex;
    position: relative;
    right: 137%;
    bottom: 100px;
  align-items: center;
  }
  select{
    width: auto;
    height: 10px;
    display: flex;
    position: relative;

  }
#search{
  display: flex;
  position: relative;
  left: 90px;
  width: 150px;
  height: 15px;
  top:45px;
}
hr{
  height: 2px;
}
#raya{

  height: 0;
}
#lupa{
  left: 245px;
  top: 27px;
  width: 18px;
}
#buho{
  height: 6%;
  width: 10%;
  
}
#glasses{

  height: 0%;
  width: 00%;

}
#foto{
  width: 28%;
  height: 28%;
  margin-right: 5%;
  margin-top: 30%;
}
#paragraph{
  font-size: 20px;
  margin-right: 5%;

}
#hibrido{
  top: 200px;
  left: 30px;
}
.subtitles{
  font-size: 20px;
  top: 80px;
  left: 20px;
}
p{
  font-size: 12px;
  margin-right: 55px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
h3{
  font-size: 25px;
}
.card{
  width:50px;
  height: 70px;
  margin-right: 0;
  margin-top: 5px;
  margin-left: 2px;
}
#cardConteiner{
  margin:15px;
}
#infoAboutHouses {
  font-size: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
} 
.btnPrincipal{
  left: 0;
  right: 0;
  top: 40px;
  font-size: 10px;
  width: auto;
  margin: 0;
}
hr{
  height: 2px;
}
}