body {
    background-image: url(data/pokemon/Imagenes/Fondo.jpeg);
    width: 1440px;
    height: 720px;
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: contain;
    font-family: 'Nerko One', cursive;

}


.Titulo {
    position: absolute;
    width: 1543px;
    height: 108px;
    left: -9px;
    top: 0px;
    background: #1C0F6A;
    border: 1px solid #000000;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.nombre {
    position: absolute;
    width: 420px;
    height: 100px;
    left: 530px;
    top: 5px;
}

.pokebola1 {
    position: absolute;
    left: 5%;
    right: 30%;
    top: 2%;
    bottom: 2%;
    Width: 60.12px;
    Height: 50px;
    Top: 32px;
    Left: 450.13px;
}

.pokebola2 {
    position: absolute;
    left: 67.15%;
    right: 28.67%;
    top: 4.17%;
    bottom: 89.97%;
    Width: 60.12px;
    Height: 50px;
    Top: 32px;
    Left: 967px;
}

.datoscuriosos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 381px;
    height: 55px;
    left: 119px;
    top: 129px;
    background: #1C0F6A;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 340px;
    height: 45px;
    left: 20px;
    top: 8px;
}

.fondocaja1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0px 211px 64px 165px;
    gap: 10px;
    position: absolute;
    width: 30px;
    height: 490px;
    left: -15px;
    top: 55px;
    background: #EAB80A;
}

.fondocaja2 {
    display: flex;
    position: absolute;
    width: 300px;
    height: 530px;
    left: 50px;
    top: 0px;
    background: #1C0F6A;
}

.kanto {
    display: block;
    position: absolute;
    border-radius: 30%;
    width: 100px;
    height: 100px;
    left: 707px;
    top: 55px;
    font-family: 'Nerko One', cursive;
    background: #EAB80A;
    box-shadow: inset 0px 4px 4px #000000;
    text-align: justify;
    cursor: pointer;



}

.text-white {
    color: rgb(255, 255, 255);



}



.font-size {
    font-size: 15px;
    

}

.johto {
    display: block;
    position: absolute;
    border-radius: 30%;
    width: 100px;
    height: 100px;
    left: 1055px;
    top: 55px;
    font-family: 'Nerko One', cursive;
    background: #1C0F6A;
    box-shadow: inset 0px 4px 4px #000000;

    cursor: pointer;

}

.pokemones {

    position: absolute;
    width: 400px;
    height: 140px;
    left: -50px;
    top: 430px;

}

.ubi1 {
    position: absolute;
    width: 80px;
    height: 90px;
    left: 715px;
    top: -50px;

}

.ubi2 {
    position: absolute;
    width: 80px;
    height: 90px;
    left: 1067px;
    top: -50px;

}

.Filtros {
    position: absolute;
    width: 1543px;
    height: 50px;
    left: -9px;
    top: 0px;
    background: #1C0F6A;
    border: 1px solid #000000;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.Ordenar {
    position: absolute;
    width: 176px;
    height: 40px;
    left: 103px;
    top: 15px;
}

.Tipo {
    position: absolute;
    width: 177px;
    height: 40px;
    left: 457px;
    top: 15px;
}

.Debilidades {
    position: absolute;
    width: 167px;
    height: 40px;
    left: 831px;
    top: 15px;
}

.Resistencia {
    position: absolute;
    width: 167px;
    height: 40px;
    left: 1195px;
    top: 15px;
}

.volver {
    position: absolute;
    width: 120px;
    height: 40px;
    left: 1310px;
    top: 120px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.35);
    background: #EA0A0A;
}

.refrescar {
    position: absolute;
    width: 120px;
    height: 40px;
    left: 1310px;
    top: 238px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.35);
    background: #EA0A0A;
}


.contenedor {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 284px;
    left: 100px;
    justify-content: space-around;
    border-radius: 30px;
    float: left;
    width: 20%;
    top: 100px;
    column-gap: 40px;
    column-count: 4;
    padding: 5px;
}

.pokemon {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    background: #F8E8B2;
    border-radius: 30px;
    height: 284px;
    float: left;
    width: 70%;
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.35);}


  .pokemon:hover{
    transform: rotateY(180deg);
  }

  .frente{
    position: absolute;
    backface-visibility: hidden;
  }
  .respaldo{
    position: absolute;
    width: 67%;
    height: 70%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }

  .contenido{

    
    background-color: #EAB80A;
    justify-content: space-around;
  }



.imagen {
    height: 110px;
    margin: 25px;
}







